*** USE THE CONCEPT OF LOOPS TO SOLVE THE BELOW PROGRAMS***

1) Python program to count the total number of digits in a number.

TAKE THE INPUT NUMBER : 123456

In [2]:
def count_digits(number):
    return len(str(number))
num = 123456
digit_count = count_digits(num)
print( digit_count)

6

2) Python program to count the number of even and odd numbers from a series of numbers.

num_list = [1,3,5,6,99,134,55]

In [3]:
num_list = [1, 3, 5, 6, 99, 134, 55]
ec = 0
oc = 0
for num in num_list:
    if num % 2 == 0:
        ec += 1
    else:
        oc += 1

print("Total even numbers:", ec)
print("Total odd numbers:", oc)

Total even numbers: 2
Total odd numbers: 5

3) Python program to get the Fibonacci series between 0 to 50.

In [4]:
def fibonacci_series(limit):
    a, b = 0, 1
    while a <= limit:
        print(a, end=" ")
        a, b = b, a + b

fibonacci_series(50)

0 1 1 2 3 5 8 13 21 34

4) Python program that accepts a string and calculates the number of digits and letters.

Input

WEBBLINDERS1234

In [6]:
def count_letters_digits(s):
    letter_count = sum(c.isalpha() for c in s)
    digit_count = sum(c.isdigit() for c in s)
    return letter_count, digit_count

input_string = "WEBBLINDERS1234"
letters, digits = count_letters_digits(input_string)
print("Total letters:", letters)
print("Total digits:", digits)

Total letters: 11
Total digits: 4

5) Python program to display all numbers within a range except the prime numbers.

INPUT RANGE : 30 TO 80

In [10]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

def non_prime_numbers(start, end):
    for num in range(start, end + 1):
        if not is_prime(num):
            print(num, end=" ")

start_range = 30
end_range = 80

print("Numbers within the range (excluding primes):")
non_prime_numbers(start_range, end_range)

Numbers within the range (excluding primes):
30 32 33 34 35 36 38 39 40 42 44 45 46 48 49 50 51 52 54 55 56 57 58 60 62 63 64 65 66 68 69 70 72 74 75 76 77 78 80