*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [1]:
def sum_list(numbers):
  total = 0
  for num in numbers:
    total += num
  return total

my_list = [8, 2, 3, 0, 7]
print(sum_list(my_list))

20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [2]:
def mul_list(numbers):
  total = 1
  for num in numbers:
    total *= num
  return total

my_list = [8, 2, 3, -1, 7]
print(mul_list(my_list))

-336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [3]:
def reverse_string(s):
  return s[::-1]

my_string = "1234abcd"
print(reverse_string(my_string))

dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [4]:
def factorial(n):
  if n == 0:
    return 1
  result = 1
  for i in range(1, n + 1):
    result *= i
  return result

number = 5
print(factorial(number))

120

5) Write a Python function to check whether a number falls within a given range.

In [5]:
def is_in_range(number, start, end):
  return start <= number <= end

print(is_in_range(5, 1, 10))  # True
print(is_in_range(12, 1, 10)) # False

True
False